a0 {
    color: #ffffff #409eff #409eff #66b1ff #e6e6e6 #0d84ff #0d84ff
}

a1 {
    color: #ffffff #67c23a #67c23a #85ce61 #e6e6e6 #529b2e #529b2e
}

a2 {
    color: #ffffff #909399 #909399 #a6a9ad #e6e6e6 #767980 #767980
}

a3 {
    color: #ffffff #e6a23c #e6a23c #ebb563 #e6e6e6 #d48a1b #d48a1b
}

a4 {
    color: #ffffff #f56c6c #f56c6c #f78989 #e6e6e6 #f23c3c #f23c3c
}

a5 {
    color:#FFA3A1 #84D9D2 #87DE75 #A5E7F0 #93B7E3 #EDAFDA #68A47C #9BD28F
}